
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<h1>>Die Seite, auf der der Fehler aufgetreten ist:@ViewBag.weg</h1>
<h2>>Fehler:@ViewBag.nachricht</h2>
